@model JobBoard.UI.MVC.Models.IndexViewModel
@{
    ViewBag.Title = "Manage your account";
}

<section class="banner-area relative" id="home" style="background-image: url(/Content/img/header-bg.jpg); ">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    MANAGE ACCOUNT
                </h1>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row justify-content-center d-flex">
        <p class="text-success">@ViewBag.StatusMessage</p>
        <div class="row">
            <div class="col-md-12">
                <p>
                    @(Model.HasPassword ? Html.ActionLink("Change your password", "ChangePassword")
                : Html.ActionLink("Pick a password", "SetPassword"))
                </p>
                <p>
                    Phone Number: @(Model.PhoneNumber ?? "None") [
                    @if (Model.PhoneNumber != null)
                    {
                        @Html.ActionLink("Change", "AddPhoneNumber")
                        @: &nbsp;|&nbsp;
                        @Html.ActionLink("Remove", "RemovePhoneNumber")
                    }
                    else
                    {
                        @Html.ActionLink("Add", "AddPhoneNumber")
                    }
                    ]
                </p>
                <p>
                    @using (Html.BeginForm("ResumeUpload", "Manage", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @:Upload a new resume
                        <input type="file" name="resumeFile" onclick="showUploadBtn()" />
                        <input type="submit" class="genric-btn primary circle" style="display: none;" value="Upload" id="btnSubmit" />
                    }
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function showUploadBtn() {
            document.getElementById('btnSubmit').setAttribute('style', 'display: inline-block;');
        }
    </script>
}